.stats {
  background: #0c3465;
  padding: 67px 0;
}

.statsContainer {
  max-width: 1511px;
  margin: 0 auto;
  padding: 0 213px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.statCard {
  text-align: center;
  flex: 1;
}

.statIcon {
  width: 64px;
  height: 54px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.statNumber {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.219;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  margin: 0 0 10px;
}

.statText {
  font-family: "Stolzl", var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  margin: 0;
  max-width: 337px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .statsContainer {
    padding: 0 100px;
  }
  .statIcon {
    width: 54;
    height: 44;
  }
}

@media (max-width: 1024px) {
  .statsContainer {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .statIcon {
    width: 54;
    height: 44;
  }

  .statCard {
    max-width: 400px;
  }

  .statNumber {
    font-size: 40px;
  }

  .statText {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .stats {
    padding: 50px 0;
  }
 
  .statIcon {
    width: 54;
    height: 44;
  }

  .statsContainer {
    padding: 0 20px;
    gap: 30px;
  }

  .statNumber {
    font-size: 30px;
  }

  .statText {
    font-size: 14px;
  }
}
